body {
    font-family: 'KoHo', sans-serif;

}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: 'KoHo', sans-serif;
}


:root {
    --main-color: #344c4e;
    --accent-color: (grey);
}

.text-main {
    color: var(--main-color);
}

.text-accent {
    color: var(--accent-color);
}

.bg-main {
    background-color: var(--main-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.borderNav {
    border-bottom: 1px solid grey;

}

.border {
    border-radius: 50px;

}


.bg-main {
    background: url(./media/pexels-karolina-grabowska-5632371.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-features {
    background-color: #c1bdd4;
}

.icon-link {
    color: var(--main-color);
    display: flex;
    text-align: right;
}

.navLink {
    color: black;
    text-decoration: none;
    display: flex;
    text-align: center;
    margin-top: 8px;


}

a:hover {
    color: black;
}
